<link rel="stylesheet" href="~/Content/Site.css">
<h2 class="apropos">A propos de</h2>
<p class="apropos">
    Le site LOL LEC reprends les matchs et les résultats de ceux-ci pour en déduire un classement évolutif en fonction de comment se passe le match de chacune des équipes.
    <br /><br />
    La page d'Accueil reprend les dernières infos sur le Championnat européen de League of Legends.<br />
    La page Equipes reprend les équipes de la LEC durant la saison 2019-2020.<br />
    La page Joueurs reprend chaque joueur de chaque équipe. <br />
    La page Classements reprend le classement du championnat après X match(s) joué(s).<br />
    <br />
    la page Matchs reprend tous les matchs de la saison 2019-2020.<br />
    La page Résultats reprend le résultats de chaque match joué.
</p>
<br/>
<img class="card-img-top" src="~/Content/Picture/logo_team/LEC.png" alt="LEC" />
<br />